@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@layer components {
  .BannerIcon{
    @apply p-4 m-auto md:m-0 md:p-5 rounded-md text-xl bg-[#ecf0f3]
  }
}
/* for Skills Components */
.skill-box{
  border: 1px solid transparent;
}
.skill-box:hover .skill-images{
  scale: 1.25;
}
.skill-images{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  transition: 0.5s all;
}
/* for Projects Components */
.project-heading::after{
  content: '';
  height: 3px;
  width: 100%;
  display: block;
  position: absolute;
  bottom: 0%;
  margin: auto;
}