.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Three columns of equal width */
    margin: auto;
    /* gap: 16px; */
}

.card {
    margin: 5% auto;
    width: 250px;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    height: auto;
    display: block;
}

.rating {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 4px 8px;
    border-radius: 4px;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.rating .star {
    color: #4caf50;
    margin-right: 4px;
}

.info {
    padding: 16px;
}

.brand {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 4px;
    text-align: left;
    font-family: "Roboto", sans-serif;
}

.product {
    color: #666;
    font-size: 14px;
    margin-bottom: 12px;
    text-align: left;
}

.price {
    display: flex;
    align-items: baseline;
}

.current-price {
    font-weight: 500;
    font-size: 16px;
    margin-right: 8px;
}

.original-price {
    color: #666;
    text-decoration: line-through;
    font-size: 12px;
    margin-right: 8px;
}

.discount {
    color: #e84417;
    font-size: 12px;
}

/* btn */
.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    padding: 10px;
}

.prev-button,
.next-button {
    background-color: #e0e0e0;
    border: none;
    color: #333;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

.page-info {
    margin: 0 10px;
    font-size: 14px;
    color: #333;
}

.btns {
    width: 100%;
    margin: auto;
}



/* src/ButtonComponent.css */
.button-container {
    display: flex;
    gap: 10px;
    background-color: #fff;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-to-cart {
    background-color: #28a745;
    color: white;
}

.add-to-cart:hover {
    background-color: #218838;
}

.delete {
    background-color: #dc3545;
    color: white;
}

.delete:hover {
    background-color: #c82333;
}


/* Pagination */
.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.pagination-button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.pagination-button:hover {
    background-color: #0056b3;
}

.page-number {
    font-size: 18px;
    margin: 0 20px;
}




/* price */
select {
    width: 150px;
    /* Adjust width as needed */
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    appearance: none;
    /* Removes the default dropdown arrow for some browsers */
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="292.4" height="292.4" viewBox="0 0 292.4 292.4"><path fill="%23aaa" d="M287 69.5L166.7 189.9c-4.9 4.9-12.8 4.9-17.7 0L5 69.5c-4.9-4.9-4.9-12.8 0-17.7s12.8-4.9 17.7 0l133.6 133.6 133.6-133.6c4.9-4.9 12.8-4.9 17.7 0 4.8 4.8 4.8 12.7-.1 17.7z"/></svg>') no-repeat right 10px center;
    background-color: white;
    background-size: 10px;
}

option[disabled] {
    color: #999;
}

option {
    padding: 10px;
}