/* General Styles */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Ubuntu';
}

.footer-page {
    max-width: 1600px;
    margin: auto;
    background-color: #00223E;
}

.footer-top {
    padding: 15px 10px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    width: 100px;
    height: 100px;
}

.footer-logo img {
    width: 100%;
    height: 100%;
}

.two-button {
    display: flex;
}

.webnar-btn img {
    margin: 0 15px 0 0;
}

.webnar-btn {
    margin: 0 20px 0 0;
    cursor: pointer;
    display: flex;
    font-weight: 600;
    align-items: center;
    border: 1px solid #005aaa;
    background-color: #005aaa;
    color: #fff;
    box-shadow: 0 0 30px rgba(0, 34, 62, 0.21);
    padding: 10px 35px;
    border-radius: 5px;
}

.subscribe-btn img {
    margin: 0 15px 0 0;
}

.subscribe-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 17px;
    padding: 10px 30px;
    border-radius: 5px;
    border: 1px solid #80acd3;
    background-color: #80acd3;
    color: #fff;
    box-shadow: 0 0 30px rgba(0, 34, 62, 0.21);
}

.footer-bottom {
    display: flex;
    justify-content: space-around;
    width: 90%;
    padding: 0 0 20px 0;
    /* margin: 2% auto; */
}

.title-head {
    font-weight: bold;
    font-size: 18px;
    line-height: 1.16666667;
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 28px 0;
}

.first p {
    font-weight: 100;
    font-size: 18px;
    line-height: 1.2;
    color: #fff;
}

.selft-detail {
    display: flex;
    align-items: center;
    color: #fff;
    margin: 10px 0 0 0;
}

.selft-detail span {
    margin: 0 0 0 15px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
}

.text ul li {
    margin: 20px 0 0 0;
    /* position: relative; */
    /* display: inline; */
}

.text {
    font-family: 'Ubuntu';
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
}

.text ul li:hover a {
    position: relative;
    color: #80acd3;
    /* background-color: #fff; */
}

.underline {
    position: absolute;
    bottom: -20%;
    left: 0%;
    /* display: inline-block; */
    height: 1px;
    width: 12%;
    margin: auto;
    transition: all 0.5s ease-in-out;
    background-color: #fff;
}

.text ul li:hover .underline {
    width: 100%;
    left: 0;
    background-color: #80acd3;
}

.di {
    position: relative;
}

.di:hover {
    color: #80acd3;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.line-2 {
    position: absolute;
    bottom: -20%;
    left: 50%;
    height: 1px;
    width: 0%;
    margin: auto;
    transition: all 0.5s ease-in-out;
}

.di:hover .line-2 {
    width: 100%;
    left: -10%;
    background-color: #80acd3;
}

.footer-btm-line {
    border-top: 1px solid #80acd3;
    margin: 0 0 20px 0;
}

.footer-end {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    align-items: center;
    padding: 0px 0 10px 0;

}

.middle-icones {
    display: flex;
    align-items: center;
}

.icones {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    margin: 0 10px 0 0;
    border: 1px solid #80acd3;
}

.icones img {
    height: 50%;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.start,
.end p {
    color: #80acd3;
}

/* Media Queries */

/* 300px to <576px */
@media screen and (max-width: 575px) {
    .footer-top {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .first,
    .second,
    .third,
    .fourth {
        width: 90%;
        border-radius: 5px;
        padding: 10px 20px;
        background-color: #002A4D;
    }

    .text ul li a {
        font-size: 13px;
        font-weight: 100;
        display: flex;
        align-items: start;
    }

    .first p,
    .selft-detail {
        text-align: start;
        font-size: 13px;
    }

    .title-head {
        font-size: 13px;
        color: #80acd3;
    }

    .two-button {
        flex-direction: column;
        gap: 10px;
    }

    .webnar-btn {
        width: 100%;
        margin: 0%;
    }

    .subscribe-btn {
        /* width: 100%; */
        font-size: 14px;
        padding: 10px 35px;
        text-overflow: ellipsis;
        white-space: nowrap;
        /* Prevents text wrapping */
        overflow: hidden;
    }

    .footer-bottom {
        margin: auto;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-bottom>div {
        margin-bottom: 20px;
    }

    .footer-end {
        flex-direction: column;
    }

    .start,
    .middle-icones,
    .end {
        margin: 0 0 10px 0;
    }
}

/* 576px to 768px */
@media screen and (min-width: 576px) and (max-width: 768px) {
    .footer-top {

        flex-direction: row;
        align-items: center;
        text-align: center;
    }

    .footer-bottom {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: auto;
    }

    .first,
    .second,
    .third,
    .fourth {
        top: 0%;
        text-align: start;
        margin: 20px 0 0 0;
    }

    .text ul li a {
        font-size: 13px;
        font-weight: 100;
        display: flex;
        align-items: start;
    }

    .first p,
    .selft-detail {
        font-size: 13px;
    }

    .title-head {
        font-size: 13px;
        color: #fff;
    }

    .two-button {
        flex-direction: row;
        gap: 10px;
    }

    .webnar-btn {
        /* width: 100%; */
        margin: 0%;
    }

    .subscribe-btn {
        /* width: 100%; */
        font-size: 14px;
        padding: 10px 35px;
        text-overflow: ellipsis;
        white-space: nowrap;
        /* Prevents text wrapping */
        overflow: hidden;
    }

    .footer-end {
        flex-direction: column;
    }

    .start,
    .middle-icones,
    .end {
        margin: 0 0 10px 0;
    }
}

/* 768px to 992px */
@media screen and (min-width: 768px) and (max-width: 992px) {
    .footer-top {

        flex-direction: row;
        align-items: center;
        text-align: center;
    }

    .footer-bottom {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: auto;
    }

    .first,
    .second,
    .third,
    .fourth {
        top: 0%;
        text-align: start;
        margin: 20px 0 0 0;
    }

    .selft-detail span {
        font-size: 13px;
    }

    .text ul li a {
        font-size: 13px;
        font-weight: 100;
        display: flex;
        align-items: start;
    }

    .first p,
    .selft-detail {
        font-size: 10px;
    }

    .title-head {
        font-size: 13px;
        color: #fff;
    }

    .two-button {
        flex-direction: row;
        gap: 10px;
    }

    .webnar-btn {
        /* width: 100%; */
        margin: 0%;
    }

    .subscribe-btn {
        /* width: 100%; */
        font-size: 14px;
        padding: 10px 35px;
        text-overflow: ellipsis;
        white-space: nowrap;
        /* Prevents text wrapping */
        overflow: hidden;
    }

    .footer-end {
        flex-direction: row;
    }

    .start,
    .middle-icones,
    .end {
        margin: 0 0 10px 0;
    }
}

/* 992px to 1200px */
@media screen and (min-width: 992px) and (max-width: 1200px) {
    .footer-bottom {
        justify-content: space-between;
    }

    .webnar-btn,
    .subscribe-btn {
        padding: 10px 30px;
    }
}