* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.open {
    display: none;
}

.close {
    display: none;
}

.main-nav-for-big {
    position: relative;
    z-index: 999;
    /* max-width: 3000; */
    background-color: rgba(0, 34, 62, 0.8);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
}

.navigation-main {
    margin: auto;
    max-width: 1600px;
}

.navigation {
    width: 100%;
    margin: auto;
    /* background-color: rgba(0, 34, 62, 0.8);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4); */
}

.sub-nav-child {
    display: flex;
    justify-content: flex-end;
    /* padding: 0 0 0px 0; */
    z-index: 999;
    width: 95%;
    background: transparent;
    /* background-color: #00223E;
    background: transparent; */
}

.scroll-sub-nav {
    display: none;
}


.main-nav {
    position: sticky;
    z-index: 999;
    top: 10;
    width: 100%;
    padding: 0px 0 0 0;
    /* background-color: red; */
    /* background: transparent; */
    /* background-color: rgba(0, 34, 62 , 0.8); */
}

.scroll-nav {
    position: fixed;
    transition: top 5s ease-in-out;
    z-index: 999;
    top: 0;
    left: 0%;
    margin: auto;
    max-width: 7000px;
    padding: 0%;
    background-color: rgba(0, 34, 62, 0.8);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
}

.nav-parent {
    max-width: 1600px;
    margin: auto;
}

.nav {
    display: flex;
    width: 90%;
    height: 70px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 10px 0;
    /* background-color: #fff; */
}

.Logo {
    width: 140px;
    height: 140px;
    object-fit: cover;
    /* background-color: #fff; */
}

.Logo img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    /* background-color: #fff; */
}

.nav-child {
    margin: 10px 35px 0 0;
}

.nav-child-2 {
    margin: 10px 0 0 0;
}

.Contact,
.Newsroom,
.DE {
    font-family: 'Ubuntu';
    font-weight: normal;
    font-size: 13px;
    line-height: 1;
    color: rgba(255, 255, 255, 0.4);
    margin: 0 5px;
}

.DE:hover {
    color: #fff;
    transition: 0.5s;
    cursor: pointer;
}

.EN {
    font-family: 'Ubuntu';
    font-weight: bold;
    font-size: 13px;
    line-height: 1;
    color: #fff;
    margin: 0 0 0 10px;
}


.sub-nav {
    display: flex;
    align-items: center;
    list-style: none;
    /* padding: 0; */
    /* background-color: red;
    text-align: right;
    border: 1px solid #000; */
}

.sub-nav li {
    /* border: 1px solid #000; */
    /* width: 100%; */
    font-size: 18px;
    justify-content: center;
    padding: 0 0 0 50px;
    /* display: flex; */
    /* justify-content: flex-end; */
    /* margin: auto; */
    /* text-align: right; */
    /* justify-content: end; */
    /* background-color: #fff; */
}

.sub-nav li a {
    font-family: 'Ubuntu';
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #fff;
    position: relative;
    text-decoration: none;
    /* padding: 0 0 22.5px 0; */

}

.sub-nav li a::after {
    content: "";
    position: absolute;
    bottom: -150%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    opacity: 0;
    /* Initially hidden */
    transform: translateY(-5px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.sub-nav li a:hover::after {
    opacity: 1;
    transform: translateY(0);
}


.search-icone {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.phone-nav {
    display: none;
}

/* Media Queries */

/* 300px to <576px */
@media screen and (max-width: 575px) {
    .main-nav-for-big {
        display: none;
    }

    .phone-nav {
        z-index: 999;
        top: 25px;
        left: 50%;
        transform: translate(-50%, -50%);
        position: fixed;
        width: 100%;
        height: auto;
        align-items: center;
        margin: auto;
        display: flex;
        justify-content: space-between;
        background-color: rgba(0, 34, 62, 0.8);
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    }

    .sub-phone-nav {
        display: flex;
        width: 95%;
        margin: auto;
        padding: 5px 0 5px 0;
        justify-content: space-between;
        align-items: center;
    }

    .mainBar {
        width: 40px;
        height: 40px;
        position: relative;
    }

    .bar-1 {
        background-color: #fff;
        height: 3px;
        width: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 20%;
        left: 24.8%;
        transition: display 0.9s ease-in;
    }

    .bar-2 {
        background-color: #fff;
        height: 3px;
        width: 75%;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 37%;
        rotate: 0deg;
        transition: rotate 0.6s ease-in;
    }

    .bar-3 {
        background-color: #fff;
        height: 3px;
        width: 100%;
        position: absolute;
        transform: translate(-50%, -50%);
        bottom: 10%;
        left: 50%;
        transition: rotate 0.6s ease-in;
    }



    .sub-phone-nav {
        position: relative;
        z-index: 999;
    }

    .close {
        justify-content: end;
        display: flex;
        color: #fff;
        font-size: 50px;
        display: block;
    }

    .small-nav-titles {
        background-color: #00223E;
        height: 60%;
        width: 100%;
        overflow-y: scroll;
        z-index: 99;

    }

    .sub-small-nav-titles {
        height: 100%;
    }

    .small-nav-li-first {
        font-family: 'Ubuntu';
        font-weight: normal;
        font-size: 13px;
        line-height: 1;
        color: rgba(255, 255, 255, 0.4);
        text-align: end;
        border-bottom: 1px solid rgba(126, 171, 213, 0.4);
        padding: 15px 0;
    }

    .small-nav-li {
        border-bottom: 2px solid rgba(126, 171, 213, 0.4);
    }

    .small-nav-li a {
        color: #fff;
        font-size: 28px;
        font-family: 'Ubuntu';
        font-weight: bold;
        line-height: 1.16666667;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #fff;
        text-shadow: none;
        cursor: pointer;
        padding: 17px 15px;
        box-sizing: border-box;
        display: block;
        text-decoration: none;
        font-family: 'Ubuntu';
        font-weight: bold;
        line-height: 1.14893617;
        letter-spacing: 0.025em;
        text-transform: uppercase;
        text-shadow: 0 0 15px rgba(255, 255, 255, 0.52);
    }

    .search-content {
        z-index: 995;
        height: 40%;
        width: 100vw;
        box-shadow: 0px -10px 30px rgba(0, 34, 62, 1);
    }

    .search-image {
        width: 100vw;
        height: auto;
        object-fit: cover;
        position: absolute;
    }

    .seach-sub-content {
        position: relative;
        transform: translate(-50%, -50%);
        left: 45%;
        bottom: -50%;
        width: 80%;
    }

    .search-image svg {
        width: 100vw;
        height: 100%;
        object-fit: cover;
    }

    .search-content p {
        font-family: 'Ubuntu';
        font-weight: bold;
        font-size: 30px;
        line-height: 1.16666667;
        letter-spacing: 0.025em;
        text-transform: uppercase;
        color: #01213f;
        z-index: 999;
    }

    .search-icone-mobile {
        color: white;
        font-weight: 600;
        font-size: 22px;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 5%;
        top: 71%;
        margin: 0 5px;
    }

    .search-content input {
        display: block;
        padding: 0 0 0 42px;
        width: 435px;
        max-width: 100%;
        line-height: 50px;
        height: 50px;
        border-radius: 5px;
        border: 2px solid #fff;
        box-sizing: border-box;
        background-color: transparent;
        color: #fff;
        font-weight: 600;
        margin: 10px 0;
        position: relative;
    }

    .toggle {
        height: 100dvh;
        width: 100dvw;
        transition: all 0.5s ease-out;
        top: 97%;
        position: absolute;
        background-color: #00223E;
        z-index: 1;
    }
}

/* 576px to 768px */
@media screen and (min-width: 576px) and (max-width: 768px) {
    .main-nav-for-big {
        display: none;
    }

    .phone-nav {
        z-index: 999;
        top: 25px;
        left: 50%;
        transform: translate(-50%, -50%);
        position: fixed;
        /* display: block; */
        width: 100%;
        height: auto;
        align-items: center;
        margin: auto;
        display: flex;
        justify-content: space-between;
        background-color: rgba(0, 34, 62, 0.8);
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    }

    .sub-phone-nav {
        display: flex;
        width: 95%;
        margin: auto;
        padding: 5px 0 5px 0;
        /* height: 10px; */
        /* background-color: #fff; */
        justify-content: space-between;
        align-items: center;
    }

    .mainBar {
        width: 40px;
        height: 40px;
        position: relative;
    }

    .bar-1 {
        background-color: #fff;
        height: 3px;
        width: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 20%;
        left: 24.8%;
        transition: display 0.9s ease-in;
    }

    .bar-2 {
        background-color: #fff;
        height: 3px;
        width: 75%;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 37%;
        rotate: 0deg;
        transition: rotate 0.6s ease-in;
    }

    .bar-3 {
        background-color: #fff;
        height: 3px;
        width: 100%;
        position: absolute;
        transform: translate(-50%, -50%);
        bottom: 10%;
        left: 50%;
        transition: rotate 0.6s ease-in;
    }

    .sub-phone-nav {
        position: relative;
        z-index: 999;
    }

    .close {
        justify-content: end;
        display: flex;
        color: #fff;
        font-size: 50px;
        display: block;
    }

    .small-nav-titles {
        background-color: #00223E;
        height: 60%;
        width: 100%;
        overflow-y: scroll;
        z-index: 99;

    }

    .sub-small-nav-titles {
        /* position: relative; */
        height: 100%;
    }

    .small-nav-li-first {
        font-family: 'Ubuntu';
        font-weight: normal;
        font-size: 13px;
        line-height: 1;
        color: rgba(255, 255, 255, 0.4);
        text-align: end;
        border-bottom: 1px solid rgba(126, 171, 213, 0.4);
        padding: 15px 0;
    }

    .small-nav-li {
        border-bottom: 2px solid rgba(126, 171, 213, 0.4);
    }

    .small-nav-li a {
        color: #fff;
        font-size: 28px;
        font-family: 'Ubuntu';
        font-weight: bold;
        line-height: 1.16666667;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #fff;
        text-shadow: none;
        cursor: pointer;
        padding: 17px 15px;
        box-sizing: border-box;
        display: block;
        text-decoration: none;
        font-family: 'Ubuntu';
        font-weight: bold;
        line-height: 1.14893617;
        letter-spacing: 0.025em;
        text-transform: uppercase;
        text-shadow: 0 0 15px rgba(255, 255, 255, 0.52);
    }

    .search-content {
        z-index: 995;
        height: 40%;
        width: 100vw;
    }

    .search-image {
        width: 100vw;
        height: auto;
        object-fit: cover;
        position: absolute;
    }

    .seach-sub-content {
        position: relative;
        transform: translate(-50%, -50%);
        left: 45%;
        bottom: -50%;
        width: 80%;
    }

    .search-image svg {
        width: 100vw;
        height: 100%;
        object-fit: cover;
    }

    .search-content p {
        font-family: 'Ubuntu';
        font-weight: bold;
        font-size: 30px;
        line-height: 1.16666667;
        letter-spacing: 0.025em;
        text-transform: uppercase;
        color: #01213f;
        /* 01213f */
        z-index: 999;
        /* position: relative; */
    }

    .search-icone-mobile {
        color: white;
        font-weight: 600;
        font-size: 22px;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 5%;
        top: 71%;
        margin: 0 5px;
    }

    .search-content input {
        display: block;
        padding: 0 0 0 62px;
        width: 435px;
        max-width: 100%;
        line-height: 50px;
        height: 50px;
        border-radius: 5px;
        border: 2px solid #fff;
        box-sizing: border-box;
        background-color: transparent;
        color: #fff;
        font-weight: 600;
        margin: 10px 0;
        /* position: relative; */
    }

    .toggle {
        height: 100dvh;
        width: 100dvw;
        transition: 0.5s ease-out;
        top: 97%;
        position: absolute;
        background-color: #00223E;
        z-index: 1;
    }
}

/* 768px to 992px */
@media screen and (min-width: 768px) and (max-width: 992px) {
    .main-nav-for-big {
        display: none;
    }

    .phone-nav {
        z-index: 999;
        top: 25px;
        left: 50%;
        transform: translate(-50%, -50%);
        position: fixed;
        /* display: block; */
        width: 100%;
        height: auto;
        align-items: center;
        margin: auto;
        display: flex;
        justify-content: space-between;
        background-color: rgba(0, 34, 62, 0.8);
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    }

    .sub-phone-nav {
        display: flex;
        width: 95%;
        margin: auto;
        padding: 5px 0 5px 0;
        /* height: 10px; */
        /* background-color: #fff; */
        justify-content: space-between;
        align-items: center;
    }

    .icones-for-tab {
        /* background-color: #fff; */
    }

    .mainBar {
        width: 40px;
        height: 40px;
        position: relative;
    }

    .bar-1 {
        background-color: #fff;
        height: 3px;
        width: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 20%;
        left: 24.8%;
        transition: display 0.9s ease-in;
    }

    .bar-2 {
        background-color: #fff;
        height: 3px;
        width: 75%;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 37%;
        rotate: 0deg;
        transition: rotate 0.6s ease-in;
    }

    .bar-3 {
        background-color: #fff;
        height: 3px;
        width: 100%;
        position: absolute;
        transform: translate(-50%, -50%);
        bottom: 10%;
        left: 50%;
        transition: rotate 0.6s ease-in;
        /* display: none; */
    }

    .sub-phone-nav {
        position: relative;
        z-index: 999;
    }

    .close {
        justify-content: end;
        display: flex;
        color: #fff;
        font-size: 50px;
        display: block;
        /* background-color: red; */
    }

    .small-nav-titles {
        background-color: #00223E;
        /* backdrop-filter: blur(200px);
        background: transparent; */
        /* position: absolute; */
        height: 60%;
        width: 100%;
        /* top: 234px; */
        /* left: 50%; */
        overflow-y: scroll;
        /* transform: translate(-50%, -50%); */
        z-index: 99;

    }

    .sub-small-nav-titles {
        /* position: relative; */
        height: 100%;
    }

    .small-nav-li-first {
        font-family: 'Ubuntu';
        font-weight: normal;
        font-size: 13px;
        line-height: 1;
        color: rgba(255, 255, 255, 0.4);
        text-align: end;
        border-bottom: 1px solid rgba(126, 171, 213, 0.4);
        padding: 15px 0;
    }

    .small-nav-li {
        border-bottom: 2px solid rgba(126, 171, 213, 0.4);
    }

    .small-nav-li a {
        color: #fff;
        font-size: 28px;
        font-family: 'Ubuntu';
        font-weight: bold;
        line-height: 1.16666667;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #fff;
        text-shadow: none;
        cursor: pointer;
        padding: 17px 15px;
        box-sizing: border-box;
        display: block;
        text-decoration: none;
        font-family: 'Ubuntu';
        font-weight: bold;
        line-height: 1.14893617;
        letter-spacing: 0.025em;
        text-transform: uppercase;
        text-shadow: 0 0 15px rgba(255, 255, 255, 0.52);
    }

    .search-content {
        z-index: 995;
        height: 40%;
        width: 100vw;
    }

    .search-image {
        width: 100vw;
        height: auto;
        object-fit: cover;
        position: absolute;
    }

    .seach-sub-content {
        position: relative;
        transform: translate(-50%, -50%);
        left: 45%;
        bottom: -50%;
        width: 80%;
    }

    .search-image svg {
        width: 100vw;
        height: 100%;
        object-fit: cover;
    }

    .search-content p {
        font-family: 'Ubuntu';
        font-weight: bold;
        font-size: 30px;
        line-height: 1.16666667;
        letter-spacing: 0.025em;
        text-transform: uppercase;
        color: #01213f;
        /* 01213f */
        z-index: 999;
        /* position: relative; */
    }

    .search-icone-mobile {
        color: white;
        font-weight: 600;
        font-size: 22px;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 5%;
        top: 71%;
        margin: 0 5px;
    }

    .search-content input {
        display: block;
        padding: 0 0 0 62px;
        width: 435px;
        max-width: 100%;
        line-height: 50px;
        height: 50px;
        border-radius: 5px;
        border: 2px solid #fff;
        box-sizing: border-box;
        background-color: transparent;
        color: #fff;
        font-weight: 600;
        margin: 10px 0;
        /* position: relative; */
    }

    .toggle {
        height: 100dvh;
        width: 100dvw;
        transition: 0.5s ease-out;
        top: 97%;
        position: absolute;
        background-color: #00223E;
        z-index: 1;
    }
}

/*  992px to  1200px*/
@media screen and (min-width: 992px) and (max-width: 1200px) {
    .main-nav-for-big {
        display: none;
    }

    .phone-nav {
        z-index: 999;
        top: 25px;
        left: 50%;
        transform: translate(-50%, -50%);
        position: fixed;
        /* display: block; */
        width: 100%;
        height: auto;
        align-items: center;
        margin: auto;
        display: flex;
        justify-content: space-between;
        background-color: rgba(0, 34, 62, 0.8);
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    }

    .sub-phone-nav {
        display: flex;
        width: 95%;
        margin: auto;
        padding: 5px 0 5px 0;
        /* height: 10px; */
        /* background-color: #fff; */
        justify-content: space-between;
        align-items: center;
    }

    .icones-for-tab {
        /* background-color: #fff; */
    }

    .mainBar {
        width: 40px;
        height: 40px;
        position: relative;
    }

    .bar-1 {
        background-color: #fff;
        height: 3px;
        width: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 20%;
        left: 24.8%;
        transition: display 0.9s ease-in;
    }

    .bar-2 {
        background-color: #fff;
        height: 3px;
        width: 75%;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 37%;
        rotate: 0deg;
        transition: rotate 0.6s ease-in;
    }

    .bar-3 {
        background-color: #fff;
        height: 3px;
        width: 100%;
        position: absolute;
        transform: translate(-50%, -50%);
        bottom: 10%;
        left: 50%;
        transition: rotate 0.6s ease-in;
        /* display: none; */
    }

    .sub-phone-nav {
        position: relative;
        z-index: 999;
    }

    .close {
        justify-content: end;
        display: flex;
        color: #fff;
        font-size: 50px;
        display: block;
        /* background-color: red; */
    }

    .small-nav-titles {
        background-color: #00223E;
        /* backdrop-filter: blur(200px);
        background: transparent; */
        /* position: absolute; */
        height: 60%;
        width: 100%;
        /* top: 234px; */
        /* left: 50%; */
        overflow-y: scroll;
        /* transform: translate(-50%, -50%); */
        z-index: 99;

    }

    .sub-small-nav-titles {
        /* position: relative; */
        height: 100%;
    }

    .small-nav-li-first {
        font-family: 'Ubuntu';
        font-weight: normal;
        font-size: 13px;
        line-height: 1;
        color: rgba(255, 255, 255, 0.4);
        text-align: end;
        border-bottom: 1px solid rgba(126, 171, 213, 0.4);
        padding: 15px 0;
    }

    .small-nav-li {
        border-bottom: 2px solid rgba(126, 171, 213, 0.4);
    }

    .small-nav-li a {
        color: #fff;
        font-size: 28px;
        font-family: 'Ubuntu';
        font-weight: bold;
        line-height: 1.16666667;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #fff;
        text-shadow: none;
        cursor: pointer;
        padding: 17px 15px;
        box-sizing: border-box;
        display: block;
        text-decoration: none;
        font-family: 'Ubuntu';
        font-weight: bold;
        line-height: 1.14893617;
        letter-spacing: 0.025em;
        text-transform: uppercase;
        text-shadow: 0 0 15px rgba(255, 255, 255, 0.52);
    }

    .search-content {
        z-index: 995;
        height: 40%;
        width: 100vw;
        /* background-color: #d64705; */
        /* box-shadow: 0px -150px 30px rgba(0, 34, 62, 1); */
    }

    .search-image {
        width: 100vw;
        height: auto;
        object-fit: cover;
        /* z-index: -1; */
        position: absolute;
    }

    .seach-sub-content {
        position: relative;
        transform: translate(-50%, -50%);
        left: 45%;
        bottom: -50%;
        width: 80%;

        /* background-color: #fff; */

    }

    .search-image svg {
        width: 100vw;
        height: 100%;
        object-fit: cover;
    }

    .search-content p {
        font-family: 'Ubuntu';
        font-weight: bold;
        font-size: 30px;
        line-height: 1.16666667;
        letter-spacing: 0.025em;
        text-transform: uppercase;
        color: #01213f;
        /* 01213f */
        z-index: 999;
        /* position: relative; */
    }

    .search-icone-mobile {
        color: white;
        font-weight: 600;
        font-size: 22px;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 5%;
        top: 71%;
        margin: 0 5px;
    }

    .search-content input {
        display: block;
        padding: 0 0 0 72px;
        width: 435px;
        max-width: 100%;
        line-height: 50px;
        height: 50px;
        border-radius: 5px;
        border: 2px solid #fff;
        box-sizing: border-box;
        background-color: transparent;
        color: #fff;
        font-weight: 600;
        margin: 10px 0;
        /* position: relative; */
    }

    .toggle {
        height: 100dvh;
        width: 100dvw;
        transition: 0.5s ease-out;
        top: 97%;
        position: absolute;
        background-color: #00223E;
        z-index: 1;
    }
}