.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns of equal width */
  margin: auto;
  /* gap: 16px; */
}
.card {
  margin: 5% auto;
  width: 250px;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.card img {
  width: 100%;
  height: auto;
  display: block;
}
.rating {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 4px 8px;
  border-radius: 4px;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.rating .star {
  color: #4caf50;
  margin-right: 4px;
}
.info {
  padding: 16px;
}
.brand {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 4px;
  text-align: left;
  font-family: "Roboto", sans-serif;
}
.product {
  color: #666;
  font-size: 14px;
  margin-bottom: 12px;
  text-align: left;
}
.price {
  display: flex;
  align-items: baseline;
}
.current-price {
  font-weight: 500;
  font-size: 16px;
  margin-right: 8px;
}
.original-price {
  color: #666;
  text-decoration: line-through;
  font-size: 12px;
  margin-right: 8px;
}
.discount {
  color: #e84417;
  font-size: 12px;
}

/* btn */
.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  padding: 10px;
}

.prev-button,
.next-button {
  background-color: #e0e0e0;
  border: none;
  color: #333;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

.page-info {
  margin: 0 10px;
  font-size: 14px;
  color: #333;
}
.btns{
  width: 100%;
  margin: auto;
}