* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact-page-main {
    background-color: #022E55;
}

.contact-page {
    max-width: 1600px;
    margin: auto;
}

.sub-contact-page {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    width: 65%;
    padding: 100px 0;
    flex-wrap: wrap;
}

.contact-dp-border {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 1px solid #fff;
    position: relative;
}

.dp {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dp-img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.detail {
    text-align: center;
    margin-top: 10px;
}

.name {
    font-family: 'Ubuntu';
    font-weight: 100;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
}

.name span {
    font-family: 'Ubuntu';
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5;
    color: #80acd3;
}

.sales {
    font-family: 'Ubuntu';
    font-weight: 300;
    font-size: 13px;
    line-height: 1.53846154;
    color: #80acd3;
}

.right-side {
    text-align: center;
    margin-top: 20px;
}

.title {
    font-family: 'Ubuntu';
    font-weight: 300;
    font-size: 40px;
    line-height: 1.15;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 35px 0;
}

.title span {
    font-weight: bold;
}

.title-btn button {
    background-color: #80acd3;
    color: #fff;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.arrow {
    display: none;
}

.title-btn button:hover {
    transition: background-color 0.4s ease-in-out;
    background-color: #fff;
    color: #80acd3;
}

.title-btn button:hover .arrow {
    display: block;
}

.title-btn button:hover .WhiteArrow {
    display: none;
}
/* Media Queries */
@media screen and (max-width: 1500px) and (min-width: 1200px) {
    .sub-contact-page {
        width: 70%;
        padding: 80px 0;
    }

    .contact-dp-border {
        height: 220px;
        width: 220px;
    }

    .dp {
        width: 200px;
        height: 200px;
    }

    .title {
        font-size: 35px;
    }
}
/* Media Queries */
@media screen and (max-width: 1200px) and (min-width: 992px) {
    .sub-contact-page {
        width: 70%;
        padding: 80px 0;
    }

    .contact-dp-border {
        height: 220px;
        width: 220px;
    }

    .dp {
        width: 200px;
        height: 200px;
    }

    .title {
        font-size: 35px;
    }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
    .sub-contact-page {
        width: 90%;
        padding: 50px 0;
        flex-direction: column;
        text-align: center;
    }

    /* .left-side {
        margin: auto;
    } */

    .contact-dp-border {
        height: 250px;
        width: 250px;
        margin: auto;
    }

    .dp {
        width: 220px;
        height: 220px;
    }

    .title {
        font-size: 28px;
    }

    .title-btn button {
        padding: 8px 20px;
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) and (min-width: 576px) {
    .sub-contact-page {
        width: 90%;
        padding: 50px 0;
        flex-direction: column;
        text-align: center;
    }

    /* .left-side {
        margin: auto;
    } */

    .contact-dp-border {
        height: 250px;
        width: 250px;
        margin: auto;
    }

    .dp {
        width: 220px;
        height: 220px;
    }

    .title {
        font-size: 28px;
    }

    .title-btn button {
        padding: 8px 20px;
        font-size: 14px;
    }
}

@media screen and (max-width: 576px) {
    .sub-contact-page {
        width: 95%;
        padding: 40px 0;
        flex-direction: column;
        text-align: center;
    }

    .contact-dp-border {
        margin: auto;
    }

    .contact-dp-border {
        height: 230px;
        width: 230px;
    }

    .dp {
        width: 200px;
        height: 200px;
    }

    .title {
        font-size: 24px;
    }

    .title-btn button {
        padding: 8px 15px;
        font-size: 12px;
    }
}