/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider {
    width: 100%;
    margin: 0px 0px 20px 0px;
    position: relative;
    z-index: 99;
}

.slide-screen {
    position: relative;
}

.inside-img {
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.text-container-inside {
    position: absolute;
    /* position: absolute; */
    top: 40%;
    right: 7%;
    /* margin: 0px 0px 0px 900px; */
    /* z-index: 999; */
}

.headline {
    font-family: 'Ubuntu';
    font-weight: bold;
    font-size: 47px;
    line-height: 1.17021277;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: #00223e;
    margin: 0;
}

.subline {
    font-family: 'Ubuntu';
    font-weight: 300;
    font-size: 26px;
    line-height: 1.3;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: #00223e;
    margin: 25px 0 0 0;
}

.btn {
    font-family: 'Ubuntu';
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: #96e8ca;
    border: 1px solid #96e8ca;
    color: #00223e;
    box-shadow: 0 0 30px rgba(0, 34, 62, 0.21);
    padding: 8px 30px;
    font-weight: bold;
    font-size: 18px;
    margin: 30px 0px;
}

.arrow {
    margin: 0px 10px 0px 0px;
}

.left-arrow {
    position: absolute;
    top: 50%;
    left: 3%;
    z-index: 999;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.right-arrow {
    position: absolute;
    top: 50%;
    right: 3%;
    z-index: 999;
    transform: translate(50%, -50%);
    cursor: pointer;
}

.custom-dots-wrapper {
    display: flex;
    justify-content: center;
}

.custom-dots-wrapper ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
}
.main-slide-screen{
    background-color: #fff;
}
.hello{
    background-color: #fff;
}
.custom-dot {
    background-color: #00223e;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.custom-dot:hover {
    background-color: #435e76;
    scale: 4;
}

/* Media Queries */
@media (max-width: 1200px) {
    .inside-img {
        height: 600px;
    }

    .text-container-inside {
        margin: 0px;
        position: ;
    }

    .headline {
        font-size: 40px;
    }

    .subline {
        font-size: 22px;
    }

    .btn {
        font-size: 16px;
        padding: 6px 20px;
    }

}

@media (max-width: 992px) {
    .inside-img {
        height: 500px;
    }

    .text-container-inside {
        margin: 0px 0px 0px 500px;
    }

    .headline {
        font-size: 35px;
    }

    .subline {
        font-size: 20px;
    }

    .btn {
        font-size: 14px;
        padding: 5px 18px;
    }
}

@media (max-width: 768px) {
    .inside-img {
        height: 400px;
    }

    .text-container-inside {
        margin: 0px auto;
        left: 100px;
        top: 100px;
        text-align: start;
    }

    .headline {
        font-size: 30px;
    }

    .subline {
        font-size: 18px;
    }

    .btn {
        font-size: 12px;
        padding: 5px 15px;
    }
}

@media (max-width: 576px) {
    .inside-img {
        height: 300px;
    }

    .text-container-inside {
        margin: 0;
        top: 15%;
        left: 5%;
        text-align: start;
    }

    .headline {
        font-size: 25px;
    }

    .subline {
        font-size: 16px;
    }

    .btn {
        font-size: 10px;
        padding: 4px 10px;
    }

    .left-arrow,
    .right-arrow {
        width: 50px;
        height: 50px;
    }

    .custom-dot {
        display: none;
    }

    .left-arrow {
        top: 95%;
        left: 30%;
    }

    .right-arrow {
        top: 95%;
        right: 30%;
    }
}