* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.solution-page {
    background-color: #002E55;
    padding: 0px 0px 20px 0px;
    position: relative;
    overflow: hidden;
}

.head {
    text-align: center;
    padding: 5% 0%;
}

.head h1 {
    font-family: 'Ubuntu';
    font-weight: 600;
    font-size: 47px;
    line-height: 1;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.52);
    color: #fff;
}

.head p {
    display: block;
    width: 470px;
    max-width: 100%;
    margin: 25px auto 0 auto;
    font-family: 'Ubuntu';
    font-weight: 300;
    font-size: 18px;
    line-height: 1.38888889;
    color: #80acd3;
}

.center-content {
    position: relative;
    max-width: 1530px;
    margin: auto;
}

.all-counters div {
    /* background-color: #fff; */
    /* display: block; */
    width: fit-content;
    font-family: 'Bitter';
}

.all-counters h1 {
    font-weight: bold;
    font-size: 84px;
    line-height: 1.16666667;
    color: rgba(128, 172, 211, 0.3);
}

.all-counters p {
    font-weight: normal;
    font-size: 34px;
    line-height: 1.16666667;
    /* text-align: right; */
    color: rgba(128, 172, 211, 0.3);
}

.counterOne {
    position: absolute;
    top: 7.5%;
    left: 10%;
    text-align: start;
    /* background-color: #fff; */
}

/* Round-1 */
.round_1 {
    /* background-color: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    width: 40%;
    position: absolute;
    top: 7.5%;
    left: 40.7%;
}

.sub_round_1 {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 1px solid #435E76;
    position: relative;
}

.sub_round_1::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 60px;
    display: block;
    background-color: rgba(128, 172, 211, 0.5);
    top: 50%;
    transform: translateX(-101%);
}

.sub_round_1:hover .sub_child_round_1 {
    background-color: #435E76;
}

.sub_round_2:hover .sub_child_round_2 {
    background-color: #435E76;
}



.sub_round_4:hover .sub_child_round_4 {
    background-color: #435E76;
}

.sub_round_5:hover .sub_child_round_5 {
    background-color: #435E76;
}

.sub_round_6:hover .sub_child_round_6 {
    background-color: #435E76;
}

.sub_round_7:hover .sub_child_round_7 {
    background-color: #435E76;
}

.sub_round_8:hover .sub_child_round_8 {
    background-color: #435E76;
}

.sub_round_9:hover .sub_child_round_9 {
    background-color: #435E76;
}

.sub_child_round_1 {
    /* background-color: #435E76; */
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 25px;
    transform: translate(-50%, -50%);
}

.round_1_img {
    height: 100%;
    width: 100%;
}

.sub_round_1_content {
    width: 50%;
    margin: 0px 0px 0px 30px;
    /* background-color: yellow; */
}

.sub_round_1_content h3 {
    font-family: 'Ubuntu';
    font-weight: bold;
    font-size: 30px;
    line-height: 1.1;
    color: #fff;
}

.sub_round_1_content span {
    display: block;
    font-family: 'Ubuntu';
    font-weight: 300;
    font-size: 17px;
    text-align: justify;
    line-height: 1.25;
    margin-top: 16px;
    color: #fff;
}

.counterTwo {
    position: absolute;
    top: 14.7%;
    right: 30%;
    text-align: start;
    /* background-color: #fff; */
}

/* Round-2 */
.round_2 {
    /* background-color: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    width: 40%;
    position: absolute;
    top: 15.6%;
    left: 11%;
}

.sub_round_2 {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 1px solid #435E76;
    position: relative;
}

.sub_round_2::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 97px;
    display: block;
    background-color: rgba(128, 172, 211, 0.5);
    top: 53%;
    transform: translateX(143%);
}

.sub_child_round_2 {
    /* background-color: #435E76; */
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 25px;
    transform: translate(-50%, -50%);
}

.round_2_img {
    height: 100%;
    width: 100%;
}

.sub_round_2_content {
    width: 40%;
    margin: 0px 30px 0px 0px;
    text-align: right;
    /* background-color: yellow; */
}

.sub_round_2_content h3 {
    font-family: 'Ubuntu';
    font-weight: bold;
    font-size: 30px;
    line-height: 1.1;
    color: #fff;
}

.sub_round_2_content span {
    display: block;
    font-family: 'Ubuntu';
    font-weight: 300;
    font-size: 17px;
    text-align: justify;
    line-height: 1.25;
    margin-top: 16px;
    color: #fff;
}

.counterThird {
    position: absolute;
    top: 23%;
    left: 25%;
    text-align: start;
}

/* round-3 */
.round_3 {
    /* background-color: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    width: 40%;
    position: absolute;
    top: 20.1%;
    left: 62.8%;
    z-index: 99;
}

.sub_round_3 {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 1px solid #435E76;
    position: relative;
}

.sub_round_3::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 82px;
    display: block;
    background-color: rgba(128, 172, 211, 0.5);
    top: 50%;
    transform: translateX(-101%);
}

.sub_child_round_3 {
    /* background-color: #435E76; */
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 25px;
    transform: translate(-50%, -50%);
}

.sub_round_3:hover .sub_child_round_3 {
    cursor: pointer;
    background-color: #435E76;
}

.round_3_img {
    height: 100%;
    width: 100%;
}

.sub_round_3_content {
    width: 50%;
    margin: 0px 0px 0px 30px;
    /* background-color: yellow; */
}

.sub_round_3_content h3 {
    font-family: 'Ubuntu';
    font-weight: bold;
    font-size: 30px;
    line-height: 1.1;
    color: #fff;
}

.sub_round_3_content span {
    display: block;
    font-family: 'Ubuntu';
    font-weight: 300;
    font-size: 17px;
    text-align: justify;
    line-height: 1.25;
    margin-top: 16px;
    color: #fff;
}

.counterFourth {
    position: absolute;
    top: 33%;
    right: 10%;
    text-align: start;
}

/* round-4 */
.round_4 {
    /* background-color: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    width: 40%;
    position: absolute;
    top: 33%;
    left: 29.8%;
}

.sub_round_4 {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 1px solid #435E76;
    position: relative;
}

.sub_round_4::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 99px;
    display: block;
    background-color: rgba(128, 172, 211, 0.5);
    top: 50%;
    transform: translateX(140%);
}

.sub_child_round_4 {
    /* background-color: #435E76; */
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 25px;
    transform: translate(-50%, -50%);
}

.round_4_img {
    height: 100%;
    width: 100%;
}

.sub_round_4_content {
    width: 40%;
    margin: 0px 30px 0px 0px;
    text-align: right;
    /* background-color: yellow; */
}

.sub_round_4_content h3 {
    font-family: 'Ubuntu';
    font-weight: bold;
    font-size: 30px;
    line-height: 1.1;
    color: #fff;
}

.sub_round_4_content span {
    display: block;
    font-family: 'Ubuntu';
    font-weight: 300;
    font-size: 17px;
    text-align: justify;
    line-height: 1.25;
    margin-top: 16px;
    color: #fff;
}

.counterFifth {
    position: absolute;
    top: 41.5%;
    left: 15%;
    text-align: start;
}

/* round-5 */
.round_5 {
    /* background-color: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    width: 40%;
    position: absolute;
    top: 41.4%;
    left: 54.8%;
}

.sub_round_5 {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 1px solid #435E76;
    position: relative;
}

.sub_round_5::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 81px;
    display: block;
    background-color: rgba(128, 172, 211, 0.5);
    top: 50%;
    transform: translateX(-100%);
}

.sub_child_round_5 {
    /* background-color: #435E76; */
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 25px;
    transform: translate(-50%, -50%);
}

.round_5_img {
    height: 100%;
    width: 100%;
}

.sub_round_5_content {
    width: 50%;
    margin: 0px 0px 0px 30px;
    /* background-color: yellow; */
}

.sub_round_5_content h3 {
    font-family: 'Ubuntu';
    font-weight: bold;
    font-size: 30px;
    line-height: 1.1;
    color: #fff;
}

.sub_round_5_content span {
    display: block;
    font-family: 'Ubuntu';
    font-weight: 300;
    font-size: 17px;
    text-align: justify;
    line-height: 1.25;
    margin-top: 16px;
    color: #fff;
}

.counterSix {
    position: absolute;
    top: 52%;
    left: 18%;
    text-align: start;
}

/* round-6 */
.round_6 {
    /* background-color: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    width: 40%;
    position: absolute;
    top: 51.9%;
    left: 41.9%;
}

.sub_round_6 {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 1px solid #435E76;
    position: relative;
}

.sub_round_6::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 79px;
    display: block;
    background-color: rgba(128, 172, 211, 0.5);
    top: 50%;
    transform: translateX(-100%);
}

.sub_child_round_6 {
    /* background-color: #435E76; */
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 25px;
    transform: translate(-50%, -50%);
}

.round_6_img {
    height: 100%;
    width: 100%;
}

.sub_round_6_content {
    width: 50%;
    margin: 0px 0px 0px 30px;
    /* background-color: yellow; */
}

.sub_round_6_content h3 {
    font-family: 'Ubuntu';
    font-weight: bold;
    font-size: 30px;
    line-height: 1.1;
    color: #fff;
}

.sub_round_6_content span {
    display: block;
    font-family: 'Ubuntu';
    font-weight: 300;
    font-size: 17px;
    text-align: justify;
    line-height: 1.25;
    margin-top: 16px;
    color: #fff;
}

.counterSeven {
    position: absolute;
    top: 62%;
    left: 25%;
    text-align: start;
}

/* round-7 */

.round_7 {
    /* background-color: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    width: 40%;
    position: absolute;
    top: 61.9%;
    left: 50.9%;
}

.sub_round_7 {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 1px solid #435E76;
    position: relative;
}

.sub_round_7::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 72px;
    display: block;
    background-color: rgba(128, 172, 211, 0.5);
    top: 50%;
    transform: translateX(-101%);
}

.sub_child_round_7 {
    /* background-color: #435E76; */
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 25px;
    transform: translate(-50%, -50%);
}

.round_7_img {
    height: 100%;
    width: 100%;
}

.sub_round_7_content {
    width: 50%;
    margin: 0px 0px 0px 30px;
    /* background-color: yellow; */
}

.sub_round_7_content h3 {
    font-family: 'Ubuntu';
    font-weight: bold;
    font-size: 30px;
    line-height: 1.1;
    color: #fff;
}

.sub_round_7_content span {
    display: block;
    font-family: 'Ubuntu';
    font-weight: 300;
    font-size: 17px;
    text-align: justify;
    line-height: 1.25;
    margin-top: 16px;
    color: #fff;
}

.counterEight {
    position: absolute;
    top: 68.7%;
    left: 35%;
    text-align: start;
}

/* round-8 */
.round_8 {
    z-index: 99;
    /* background-color: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    width: 40%;
    position: absolute;
    top: 68.5%;
    left: 62.8%;
}

.sub_round_8 {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 1px solid #435E76;
    position: relative;
}

.sub_round_8::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 83px;
    display: block;
    background-color: rgba(128, 172, 211, 0.5);
    top: 50%;
    transform: translateX(-100%);
}

.sub_child_round_8 {
    /* background-color: #435E76; */
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 25px;
    transform: translate(-50%, -50%);
}

.round_8_img {
    height: 100%;
    width: 100%;
}

.sub_round_8_content {
    width: 50%;
    margin: 0px 0px 0px 30px;
    /* background-color: yellow; */
}

.sub_round_8_content h3 {
    font-family: 'Ubuntu';
    font-weight: bold;
    font-size: 30px;
    line-height: 1.1;
    color: #fff;
}

.sub_round_8_content span {
    display: block;
    font-family: 'Ubuntu';
    font-weight: 300;
    font-size: 17px;
    text-align: justify;
    line-height: 1.25;
    margin-top: 16px;
    color: #fff;
}

.counterNine {
    position: absolute;
    top: 77.8%;
    right: 15%;
    text-align: start;
}

/* round-9 */
.round_9 {
    /* background-color: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    width: 40%;
    position: absolute;
    top: 77.7%;
    left: 23%;
}

.sub_round_9 {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 1px solid #435E76;
    position: relative;
}

.sub_round_9::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100px;
    display: block;
    background-color: rgba(128, 172, 211, 0.5);
    top: 50%;
    transform: translateX(140%);
}

.sub_child_round_9 {
    /* background-color: #435E76; */
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 25px;
    transform: translate(-50%, -50%);
}

.round_9_img {
    height: 100%;
    width: 100%;
}

.sub_round_9_content {
    width: 40%;
    margin: 0px 30px 0px 0px;
    text-align: right;
    /* background-color: yellow; */
}

.sub_round_9_content h3 {
    font-family: 'Ubuntu';
    font-weight: bold;
    font-size: 30px;
    line-height: 1.1;
    color: #fff;
}

.sub_round_9_content span {
    display: block;
    font-family: 'Ubuntu';
    font-weight: 300;
    font-size: 17px;
    text-align: justify;
    line-height: 1.25;
    margin-top: 16px;
    color: #fff;
}

/* Line */
.animation {
    margin: auto;
    width: 33%;
    /* background-color: #fff; */

}

#solution-cursor {
    height: 100%;
    transform: rotate(-50%);
}

.animation-drop {
    top: 10%;
    position: absolute;
}

.LineEnd {
    /* background-color: yellow; */
    /* background-color: transparent; */
    width: 150px;
    height: 150px;
    /* object-fit: cover; */
    margin: auto;
    position: relative;
    /* top: 0%; */
    /* padding-bottom: 150px; */
}

.LineEnd img {
    /* object-fit: cover; */
    /* background-color: red; */
    
    color: #00223F;
    position: absolute;
    top: 13%;
    left: 58.5%;
    transform: translate(-50%, -50%);
}

.bottom-heading {
    text-align: center;
    padding: 40px 0px;
}

.bottom-heading h1 {
    font-family: 'Ubuntu';
    font-weight: 600;
    font-size: 47px;
    line-height: 1;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.52);
    color: #fff;
    line-height: 1.3;
}

.bottom-heading h3 {
    /* font-family: 'Ubuntu'; */
    /* font-weight: 200; */
    font-size: 42px;
    line-height: 1;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.52);
    color: #fff;
}

.btn-2 {
    /* background-color: #fff; */
    padding: 10px 30px;
    /* border: none; */
    border-radius: 5px;
    color: #00223F;
    font-weight: 600;
    font-family: 'Ubuntu';
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.52);
    transition: 0.5s;
    background-color: #fff;
    display: flex;
    align-items: center;
    margin: auto;
    margin-bottom: 30px;
}

.btn-2:hover {
    border: 1px solid #fff;
    background-color: #00223F;
    color: #fff;
    cursor: pointer;
}

.Arrow_1 {
    margin: 0px 10px 0px 0px;
}

.Arrow_2 {
    display: none;
    margin: 0px 10px 0px 0px;
}

.btn-2:hover .Arrow_2 {
    display: block;
}

.btn-2:hover .Arrow_1 {
    display: none;
}
.msgContent::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 170px;
    height: 1px;
    background-color: #80acd3;
}
.msg:hover .msgContent::after{
    transition: width 800ms ease-in-out;
    width: 0px;
}
.msg {
    /* background-color: #fff; */
    position: relative;
    text-align: center;
    /* background-color: #fff; */
}

.msg p {
    display: inline-block;
    font-family: 'Ubuntu';
    font-weight: 500;
    font-size: 17px;
    line-height: 1.11764706;
    color: #80acd3;
    padding-bottom: 5px;
    line-height: normal;
    cursor: pointer;
}

.rt {
    position: absolute;
    top: 0%;
    right: -39%;
}

.lb {
    position: absolute;
    top: 30%;
    left: -39%;
}

.rb {
    position: absolute;
    top: 70%;
    right: -39%;
}


/* 300px to <576px */
@media (min-width: 300px) and (max-width: 575.98px) {
    .all-counters {
        display: none;
    }

    .head {
        width: 90%;
        margin: auto;
    }

    .head h1 {
        padding: 0 20px;
        font-size: 26px;
        /* background-color: yellow; */

    }

    .head p {
        /* padding: 0 20px; */
        font-size: 16px;
        /* background-color: yellow; */

    }

    .animation {
        display: none;
    }

    .round_1,
    .round_3,
    .round_5,
    .round_6,
    .round_7,
    .round_8 {
        width: 90%;
        position: static;
        margin: 20px auto;
        /* flex-direction: column; */
        /* background-color: #fff; */
    }

    .round_2,
    .round_4,
    .round_9 {
        width: 90%;
        position: static;
        justify-content: start;
        margin: 20px auto;
        flex-direction: row-reverse;
        /* flex-direction: column; */
        /* background-color: #fff; */
    }

    .sub_round_1::before,
    .sub_round_2::before,
    .sub_round_3::before,
    .sub_round_4::before,
    .sub_round_5::before,
    .sub_round_6::before,
    .sub_round_7::before,
    .sub_round_8::before,
    .sub_round_9::before {
        display: none;
    }

    .sub_round_1,
    .sub_round_2,
    .sub_round_3,
    .sub_round_4,
    .sub_round_5,
    .sub_round_6,
    .sub_round_7,
    .sub_round_8,
    .sub_round_9 {
        width: 80px;
        height: 80px;
        border: 2px solid #435E76;
        /* z-index: 99; */
        /* background-color: #fff; */
    }

    .sub_child_round_1,
    .sub_child_round_2,
    .sub_child_round_3,
    .sub_child_round_4,
    .sub_child_round_5,
    .sub_child_round_6,
    .sub_child_round_7,
    .sub_child_round_8,
    .sub_child_round_9 {
        width: 70px;
        height: 70px;
        padding: 15px;
        background-color: #002E55;
    }

    .sub_round_1_content,
    .sub_round_2_content,
    .sub_round_3_content,
    .sub_round_4_content,
    .sub_round_5_content,
    .sub_round_6_content,
    .sub_round_7_content,
    .sub_round_8_content,
    .sub_round_9_content {
        width: 70%;
        margin: 10px 0;
        padding: 0 10px;
        text-align: start;
        /* background-color: yellow; */
    }

    .sub_round_1_content h3,
    .sub_round_2_content h3,
    .sub_round_3_content h3,
    .sub_round_4_content h3,
    .sub_round_5_content h3,
    .sub_round_6_content h3,
    .sub_round_7_content h3,
    .sub_round_8_content h3,
    .sub_round_9_content h3 {
        font-size: 17px;
    }

    .sub_round_1_content span,
    .sub_round_2_content span,
    .sub_round_3_content span,
    .sub_round_4_content span,
    .sub_round_5_content span,
    .sub_round_6_content span,
    .sub_round_7_content span,
    .sub_round_8_content span,
    .sub_round_9_content span {
        font-size: 12px;
    }

    .rt {
        width: 100%;
    }

    .lb {
        width: 100%;
    }

    .rb {
        width: 100%;
    }

    .bottom-heading h1 {
        font-size: 22px;
    }

    .bottom-heading h3 {
        font-size: 22px;
    }

    .LineEnd img {
        /* position: absolute; */
        top: 50%;
        left: 50%;
        /* transform: translate(-50%, -50%); */
    }
}

/* 576px to 768px */
@media (min-width: 576px) and (max-width: 767.98px) {
    .all-counters {
        display: none;
    }

    .head {
        width: 90%;
        margin: auto;
    }

    .head h1 {
        padding: 0 20px;
        font-size: 26px;
        /* background-color: yellow; */

    }

    .head p {
        /* padding: 0 20px; */
        font-size: 16px;
        /* background-color: yellow; */

    }

    .animation {
        display: none;
        
    }

    .round_1,
    .round_3,
    .round_5,
    .round_6,
    .round_7,
    .round_8 {
        width: 90%;
        position: static;
        margin: 20px auto;
        /* flex-direction: column; */
        /* background-color: #fff; */
    }

    .round_2,
    .round_4,
    .round_9 {
        width: 90%;
        position: static;
        justify-content: start;
        margin: 20px auto;
        flex-direction: row-reverse;
        /* flex-direction: column; */
        /* background-color: #fff; */
    }

    .sub_round_1::before,
    .sub_round_2::before,
    .sub_round_3::before,
    .sub_round_4::before,
    .sub_round_5::before,
    .sub_round_6::before,
    .sub_round_7::before,
    .sub_round_8::before,
    .sub_round_9::before {
        display: none;
    }

    .sub_round_1,
    .sub_round_2,
    .sub_round_3,
    .sub_round_4,
    .sub_round_5,
    .sub_round_6,
    .sub_round_7,
    .sub_round_8,
    .sub_round_9 {
        width: 80px;
        height: 80px;
        border: 2px solid #435E76;
        /* z-index: 99; */
        /* background-color: #fff; */
    }

    .sub_child_round_1,
    .sub_child_round_2,
    .sub_child_round_3,
    .sub_child_round_4,
    .sub_child_round_5,
    .sub_child_round_6,
    .sub_child_round_7,
    .sub_child_round_8,
    .sub_child_round_9 {
        width: 70px;
        height: 70px;
        padding: 15px;
        background-color: #002E55;
    }

    .sub_round_1_content,
    .sub_round_2_content,
    .sub_round_3_content,
    .sub_round_4_content,
    .sub_round_5_content,
    .sub_round_6_content,
    .sub_round_7_content,
    .sub_round_8_content,
    .sub_round_9_content {
        width: 70%;
        margin: 10px 0;
        padding: 0 10px;
        text-align: start;
        /* background-color: yellow; */
    }

    .sub_round_1_content h3,
    .sub_round_2_content h3,
    .sub_round_3_content h3,
    .sub_round_4_content h3,
    .sub_round_5_content h3,
    .sub_round_6_content h3,
    .sub_round_7_content h3,
    .sub_round_8_content h3,
    .sub_round_9_content h3 {
        font-size: 17px;
    }

    .sub_round_1_content span,
    .sub_round_2_content span,
    .sub_round_3_content span,
    .sub_round_4_content span,
    .sub_round_5_content span,
    .sub_round_6_content span,
    .sub_round_7_content span,
    .sub_round_8_content span,
    .sub_round_9_content span {
        font-size: 12px;
    }

    .rt {
        width: 100%;
    }

    .lb {
        width: 100%;
    }

    .rb {
        width: 100%;
    }

    .bottom-heading h1 {
        font-size: 22px;
    }

    .bottom-heading h3 {
        font-size: 22px;
    }

    .LineEnd img {
        /* position: absolute; */
        top: 50%;
        left: 50%;
        /* transform: translate(-50%, -50%); */
    }
}

/* 768px to 992px */
@media (min-width: 768px) and (max-width: 991.98px) {
    .all-counters{
        display: none;
    }
    .head {
        width: 90%;
        margin: auto;
    }

    .head h1 {
        padding: 0 20px;
        font-size: 26px;
        /* background-color: yellow; */

    }

    .head p {
        /* padding: 0 20px; */
        font-size: 16px;
        /* background-color: yellow; */

    }

    .all_rounds {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .animation {
        display: none;
    }

    .round_1,
    .round_3,
    .round_5,
    .round_6,
    .round_7,
    .round_8 {
        width: 90%;
        position: static;
        margin: 20px auto;
        /* flex-direction: column; */
        /* background-color: #fff; */
    }

    .round_2,
    .round_4,
    .round_9 {
        width: 90%;
        position: static;
        justify-content: start;
        margin: 20px auto;
        flex-direction: row-reverse;
        /* flex-direction: column; */
        /* background-color: #fff; */
    }

    .sub_round_1::before,
    .sub_round_2::before,
    .sub_round_3::before,
    .sub_round_4::before,
    .sub_round_5::before,
    .sub_round_6::before,
    .sub_round_7::before,
    .sub_round_8::before,
    .sub_round_9::before {
        display: none;
    }

    .sub_round_1,
    .sub_round_2,
    .sub_round_3,
    .sub_round_4,
    .sub_round_5,
    .sub_round_6,
    .sub_round_7,
    .sub_round_8,
    .sub_round_9 {
        width: 80px;
        height: 80px;
        border: 2px solid #435E76;
        /* z-index: 99; */
        /* background-color: #fff; */
    }

    .sub_child_round_1,
    .sub_child_round_2,
    .sub_child_round_3,
    .sub_child_round_4,
    .sub_child_round_5,
    .sub_child_round_6,
    .sub_child_round_7,
    .sub_child_round_8,
    .sub_child_round_9 {
        width: 70px;
        height: 70px;
        padding: 15px;
        background-color: #002E55;
    }

    .sub_round_1_content,
    .sub_round_2_content,
    .sub_round_3_content,
    .sub_round_4_content,
    .sub_round_5_content,
    .sub_round_6_content,
    .sub_round_7_content,
    .sub_round_8_content,
    .sub_round_9_content {
        width: 70%;
        margin: 10px 0;
        padding: 0 10px;
        text-align: start;
        /* background-color: yellow; */
    }

    .sub_round_1_content h3,
    .sub_round_2_content h3,
    .sub_round_3_content h3,
    .sub_round_4_content h3,
    .sub_round_5_content h3,
    .sub_round_6_content h3,
    .sub_round_7_content h3,
    .sub_round_8_content h3,
    .sub_round_9_content h3 {
        font-size: 17px;
    }

    .sub_round_1_content span,
    .sub_round_2_content span,
    .sub_round_3_content span,
    .sub_round_4_content span,
    .sub_round_5_content span,
    .sub_round_6_content span,
    .sub_round_7_content span,
    .sub_round_8_content span,
    .sub_round_9_content span {
        font-size: 12px;
    }

    .rt {
        width: 100%;
    }

    .lb {
        width: 100%;
    }

    .rb {
        width: 100%;
    }

    .bottom-heading h1 {
        font-size: 22px;
    }

    .bottom-heading h3 {
        font-size: 22px;
    }

    .LineEnd img {
        /* position: absolute; */
        top: 50%;
        left: 50%;
        /* transform: translate(-50%, -50%); */
    }
}

/* 992px to 1200px */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .all-counters{
        display: none;
    }
    .head {
        width: 90%;
        margin: auto;
    }

    .head h1 {
        padding: 0 20px;
        font-size: 26px;
        /* background-color: yellow; */

    }

    .head p {
        /* padding: 0 20px; */
        font-size: 16px;
        /* background-color: yellow; */

    }

    .all_rounds {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .animation {
        display: none;
    }

    .round_1,
    .round_3,
    .round_5,
    .round_6,
    .round_7,
    .round_8 {
        width: 90%;
        position: static;
        margin: 20px auto;
        /* flex-direction: column; */
        /* background-color: #fff; */
    }

    .round_2,
    .round_4,
    .round_9 {
        width: 90%;
        position: static;
        justify-content: start;
        margin: 20px auto;
        flex-direction: row-reverse;
        /* flex-direction: column; */
        /* background-color: #fff; */
    }

    .sub_round_1::before,
    .sub_round_2::before,
    .sub_round_3::before,
    .sub_round_4::before,
    .sub_round_5::before,
    .sub_round_6::before,
    .sub_round_7::before,
    .sub_round_8::before,
    .sub_round_9::before {
        display: none;
    }

    .sub_round_1,
    .sub_round_2,
    .sub_round_3,
    .sub_round_4,
    .sub_round_5,
    .sub_round_6,
    .sub_round_7,
    .sub_round_8,
    .sub_round_9 {
        width: 80px;
        height: 80px;
        border: 2px solid #435E76;
        /* z-index: 99; */
        /* background-color: #fff; */
    }

    .sub_child_round_1,
    .sub_child_round_2,
    .sub_child_round_3,
    .sub_child_round_4,
    .sub_child_round_5,
    .sub_child_round_6,
    .sub_child_round_7,
    .sub_child_round_8,
    .sub_child_round_9 {
        width: 70px;
        height: 70px;
        padding: 15px;
        background-color: #002E55;
    }

    .sub_round_1_content,
    .sub_round_2_content,
    .sub_round_3_content,
    .sub_round_4_content,
    .sub_round_5_content,
    .sub_round_6_content,
    .sub_round_7_content,
    .sub_round_8_content,
    .sub_round_9_content {
        width: 70%;
        margin: 10px 0;
        padding: 0 10px;
        text-align: start;
        /* background-color: yellow; */
    }

    .sub_round_1_content h3,
    .sub_round_2_content h3,
    .sub_round_3_content h3,
    .sub_round_4_content h3,
    .sub_round_5_content h3,
    .sub_round_6_content h3,
    .sub_round_7_content h3,
    .sub_round_8_content h3,
    .sub_round_9_content h3 {
        font-size: 17px;
    }

    .sub_round_1_content span,
    .sub_round_2_content span,
    .sub_round_3_content span,
    .sub_round_4_content span,
    .sub_round_5_content span,
    .sub_round_6_content span,
    .sub_round_7_content span,
    .sub_round_8_content span,
    .sub_round_9_content span {
        font-size: 12px;
    }

    .rt {
        width: 100%;
    }

    .lb {
        width: 100%;
    }

    .rb {
        width: 100%;
    }

    .bottom-heading h1 {
        font-size: 22px;
    }

    .bottom-heading h3 {
        font-size: 22px;
    }

    .LineEnd img {
        /* position: absolute; */
        top: 50%;
        left: 50%;
        /* transform: translate(-50%, -50%); */
    }
}

@media (min-width: 1200px) and (max-width: 1500px) {
    .all-counters{
        display: none;
    }
    .head {
        width: 90%;
        margin: auto;
    }

    .head h1 {
        padding: 0 20px;
        font-size: 26px;
        /* background-color: yellow; */

    }

    .head p {
        /* padding: 0 20px; */
        font-size: 16px;
        /* background-color: yellow; */

    }

    .all_rounds {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .animation {
        display: none;
    }

    .round_1,
    .round_3,
    .round_5,
    .round_6,
    .round_7,
    .round_8 {
        width: 90%;
        position: static;
        margin: 20px auto;
        /* flex-direction: column; */
        /* background-color: #fff; */
    }

    .round_2,
    .round_4,
    .round_9 {
        width: 90%;
        position: static;
        justify-content: start;
        margin: 20px auto;
        flex-direction: row-reverse;
        /* flex-direction: column; */
        /* background-color: #fff; */
    }

    .sub_round_1::before,
    .sub_round_2::before,
    .sub_round_3::before,
    .sub_round_4::before,
    .sub_round_5::before,
    .sub_round_6::before,
    .sub_round_7::before,
    .sub_round_8::before,
    .sub_round_9::before {
        display: none;
    }

    .sub_round_1,
    .sub_round_2,
    .sub_round_3,
    .sub_round_4,
    .sub_round_5,
    .sub_round_6,
    .sub_round_7,
    .sub_round_8,
    .sub_round_9 {
        width: 80px;
        height: 80px;
        border: 2px solid #435E76;
        /* z-index: 99; */
        /* background-color: #fff; */
    }

    .sub_child_round_1,
    .sub_child_round_2,
    .sub_child_round_3,
    .sub_child_round_4,
    .sub_child_round_5,
    .sub_child_round_6,
    .sub_child_round_7,
    .sub_child_round_8,
    .sub_child_round_9 {
        width: 70px;
        height: 70px;
        padding: 15px;
        background-color: #002E55;
    }

    .sub_round_1_content,
    .sub_round_2_content,
    .sub_round_3_content,
    .sub_round_4_content,
    .sub_round_5_content,
    .sub_round_6_content,
    .sub_round_7_content,
    .sub_round_8_content,
    .sub_round_9_content {
        width: 70%;
        margin: 10px 0;
        padding: 0 10px;
        text-align: start;
        /* background-color: yellow; */
    }

    .sub_round_1_content h3,
    .sub_round_2_content h3,
    .sub_round_3_content h3,
    .sub_round_4_content h3,
    .sub_round_5_content h3,
    .sub_round_6_content h3,
    .sub_round_7_content h3,
    .sub_round_8_content h3,
    .sub_round_9_content h3 {
        font-size: 17px;
    }

    .sub_round_1_content span,
    .sub_round_2_content span,
    .sub_round_3_content span,
    .sub_round_4_content span,
    .sub_round_5_content span,
    .sub_round_6_content span,
    .sub_round_7_content span,
    .sub_round_8_content span,
    .sub_round_9_content span {
        font-size: 12px;
    }

    .rt {
        width: 100%;
    }

    .lb {
        width: 100%;
    }

    .rb {
        width: 100%;
    }

    .bottom-heading h1 {
        font-size: 22px;
    }

    .bottom-heading h3 {
        font-size: 22px;
    }

    .LineEnd img {
        /* position: absolute; */
        top: 50%;
        left: 50%;
        /* transform: translate(-50%, -50%); */
    }
}