* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-technology {
    height: 90vh;
    display: block;
    position: relative;
    width: 100%;
}

.technology-page {
    /* height: 100vh; */
    max-width: 1500px;
}

.landingPage {
    height: 101vh;
    width: 60vw;
    z-index: 99;
    object-fit: cover;
    position: relative;
}

.landingPageImg {
    display: block;
    height: 107vh;
    width: 105vw;
    object-fit: cover;
    position: relative;
    left: -9%;
    top: -16%;
    z-index: 99;
}

.light {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 37%;
    left: 41%;
    height: 105vh;
    width: 105vw;
    object-fit: cover;
    display: block;
}

.lightImg {
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: 100vh;
    width: 100vw;
    object-fit: contain;
    display: block;
    z-index: 1;
}

.stars {
    /* background-color: red; */
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 99;
    height: 19%;
    width: 5.5%;
    margin: auto;
}

.starImg1 {
    position: absolute;
    top: 12%;
    left: 5%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    object-fit: cover;
    animation: example 8s infinite;
}

.starImg2 {
    position: absolute;
    top: 2%;
    left: 65%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    object-fit: cover;
    animation: example 13s infinite;
}

.starImg3 {
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    object-fit: cover;
    animation: example 15s infinite;
}

.starImg4 {
    position: absolute;
    top: 60%;
    left: 15%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    object-fit: cover;
    animation: example 6s infinite;
}

.starImg5 {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    object-fit: cover;
    animation: example 16s infinite;
}

@keyframes example {
    0% {
        opacity: 1;
    }

    20% {
        opacity: 0;
        /* Element is visible */
    }

    40% {
        opacity: 1;
    }

    50% {
        opacity: 0;
        /* Element is visible */
    }

    60% {
        opacity: 1;
    }

    80% {
        opacity: 0;
        /* Element is visible */
    }

    90% {
        opacity: 0;
        /* Element is visible */
    }
}

.circle {
    border: 1px solid #75869B;
    height: 190px;
    width: 190px;
    border-radius: 50%;
    position: absolute;
    bottom: 172px;
    left: 50px;
    z-index: 99;
}

.small-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 170px;
    width: 170px;
    border-radius: 50%;
    background-color: #75869B;
}

.sub-small-circel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 1px solid #00223F;
}

.sub-small-circel h1 {
    font-size: 42px;
    color: #fff;
    font-weight: 800;
    text-align: center;
    margin: 22px 0 0;
    font-family: Ubuntu;
}

.sub-small-circel p {
    font-family: Ubuntu;
    font-size: 13px;
    text-align: center;
    color: #00223F;
    font-weight: 600;
}

.available {
    font-weight: 400;
    font-family: Ubuntu;
}

.text-container {
    /* background-color: red; */
    max-width: 1410px;
    width: 100%;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 51%;
    position: absolute;
    z-index: 99;
    /* padding: 0 0 120px 0px; */
}

.right-side-content {
    /* background-color: red; */
    z-index: 99;
    width: 51%;
    max-width: 800px;
    position: absolute;
    left: 72%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    padding: 20px;
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);  */
}

.right-side-content p {
    font-family: 'Ubuntu';
    font-size: 47px;
    font-weight: 100;
    line-height: 1.4;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.52);
    color: #fff;
    /* background-color: #fff; */
}

.right-side-content h1 {
    font-family: 'Ubuntu';
    font-weight: bold;
    font-size: 47px;
    line-height: 1;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.52);
    color: #fff;
}

.right-side-content h2 {
    font-weight: 300;
    color: #fff;
    font-size: 30px;
    margin: 20px 0 0 0;
}

.right-side-content h4 {
    color: #80acd3;
    font-size: 28px;
    letter-spacing: 0.025em;
    font-weight: 600;
}

.line::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 1.5px;
    top: 50%;
    transform: translateX(-129%);
    background-color: #4E789B;
}

.main-circle::before {
    content: url('../../assets/images/mainline.png');
    position: absolute;
    top: 27.6%;
    left: -15.5%;
    transform: translate(-50%, -50%);
}

.main-circle {
    /* background-color: #fff; */
    z-index: 99;
    position: absolute;
    left: 59%;
    bottom: -3%;
    transform: translate(-50%, -50%);
}


.sub-circle {
    display: flex;
    margin: 0;
}

.outer {
    height: 167px;
    width: 167px;
    border: 1px solid #4a7497;
    border-radius: 50%;
    margin: 0 25px 0 15px;
    position: relative;
}

.inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 145px;
    width: 145px;
    border-radius: 50%;
    background: transparent;
    transition: all 0.5s;
}

.inner:hover {
    background-color: #435E76;
    cursor: pointer;
}

.innerContent {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 22px auto;
}

.clockimag {
    width: 50px;
    margin: auto;
}

.innerContent p {
    color: #fff;
    font-family: 'Ubuntu';
    font-weight: 500;
    font-size: 20px;
    line-height: 1.1;
    margin: 12px 0 0;
    transition: all 0.3s ease-in-out;
}

.fixed-round {
    border: 1px solid #fff;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    position: fixed;
    z-index: 900;
    left: 40px;
    bottom: 20px;
    /* transform: translate(-50%, -50%); */
    cursor: pointer;

}

.BrainStar {
    z-index: 999;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 75%;
    scale: 1.4;

}

.brainImage {
    z-index: 900;
    background-color: #052442;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
    box-shadow: 0 0 40px #9abdde;
}

.fixed-round:hover .brainImage {
    transition: all 0.9s ease-in-out;
    cursor: pointer;
    background-color: #E1EBF8;
}

/* Media Queries */
@media (max-width: 576px) {
    .main-technology {
        height: 100vh;
        width: 100vw;
        display: block;
    }

    .landingPage {
        margin: 30% 0 30% 0;
        height: 100%;
        width: 100%;
    }

    .landingPageImg {
        height: 200px;
        width: 200px;
        left: 0%;
        top: 0%;
        margin: auto;
        object-fit: cover;
    }

    .light {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .lightImg {
        height: 320px;
        object-fit: contain;
    }

    .text-container {
        max-width: 100%;
        top: 60%;
        left: 50%;
        z-index: 99;
    }

    .right-side-content {
        z-index: 99;
        width: 100%;
        max-width: 100%;
        left: 50%;
        top: 50%;
        text-align: center;
    }

    .left {
        width: 100%;
    }

    .circle {
        height: 120px;
        width: 120px;
        top: -20px;
        left: 10px;
    }

    .small-circle {
        height: 105px;
        width: 105px;
    }

    .sub-small-circel {
        position: absolute;
        top: 35%;
        left: 50%;
        height: 80px;
        width: 80px;
        border: none;
    }

    .sub-small-circel h1 {
        font-size: 22px;
        margin: 20px 0 0;
    }

    .sub-small-circel p {
        font-size: 12px;
    }

    .main-circle {
        width: max-content;
        z-index: 99;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        bottom: 0%;
    }

    .right-side-content p,
    .right-side-content h1 {
        font-size: 28px;
    }

    .right-side-content h2 {
        font-size: 20px;
    }

    .right-side-content h4 {
        font-size: 20px;
    }

    .sub-circle {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin: auto;
    }
    .line::before {
        content: "";
        position: absolute;
        width: 21px;
        height: 1.5px;
        transform: translateX(-100%);
    }

    .outer {
        height: 80px;
        width: 80px;
        margin: 0 10px;
        top: 0%;
        right: 0%;
    }

    .inner {
        height: 100%;
        width: 100%;
    }

    .inner img {
        display: none;
    }

    .innerContent p {
        font-size: 14px;
        margin: 0%;
    }

    .stars {
        /* background-color: #fff; */
        width: 35px;
        height: 70px;
        object-fit: contain;
    }

    .main-circle::before {
        display: none;
    }

    .fixed-round {
        left: 10px;
        bottom: 10px;
        height: 90px;
        width: 90px;
    }

    .BrainStar {
        top: 40%;
        left: 60%;
        scale: 1.1;
    }

    .brainImage {
        height: 70px;
        width: 70px;
    }

}

@media (min-width: 576px) and (max-width: 768px) {
    .main-technology {
        height: 115vh;
        width: 100%;
        display: block;
    }

    .landingPage {
        margin: 20% 0 20% 0;
        height: 100%;
        width: 100%;
    }

    .landingPageImg {
        height: 450px;
        width: 450px;
        left: 0%;
        top: 0%;
        margin: auto;
        object-fit: cover;

    }

    .light {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        width: 100%;
        object-fit: cover;
    }

    .lightImg {
        height: 700px;
        object-fit: cover;
    }

    .left {
        width: 100%;
    }

    .circle {
        height: 140px;
        width: 140px;
        top: 0%;
    }

    .small-circle {
        height: 120px;
        width: 120px;
    }

    .sub-small-circel {
        position: absolute;
        top: 35%;
        left: 50%;
        height: 80px;
        width: 80px;
        border: none;
    }

    .sub-small-circel h1 {
        font-size: 22px;
        margin: 20px 0 0;
    }

    .sub-small-circel p {
        font-size: 12px;
    }

    .main-circle {
        z-index: 99;
        position: relative;
        left: 50%;
        top: 150%;
        transform: translate(-50%, -50%);
    }

    .text-container {
        max-width: 100%;
        top: 65%;
        left: 50%;
        z-index: 99;
    }

    .right-side-content {
        z-index: 99;
        width: 100%;
        max-width: 100%;
        left: 50%;
        top: 50%;
        text-align: center;
    }

    .right-side-content p,
    .right-side-content h1 {
        font-size: 28px;
    }

    .right-side-content h2 {
        font-size: 20px;
    }

    .right-side-content h4 {
        font-size: 20px;
    }

    .sub-circle {
        width: 60%;
        display: flex;
        justify-content: space-evenly;
        margin: auto;
    }

    .line::before {
        display: none;
    }

    .outer {
        height: 80px;
        width: 80px;
        margin: 0 0px 0 0px;
        top: 0%;
        right: 0%;
    }

    .inner {
        height: 100%;
        width: 100%;
    }

    .inner img {
        display: none;
    }

    .innerContent p {
        font-size: 14px;
        margin: 0%;
    }

    .stars {
        /* background-color: #fff; */
        width: 90px;
        height: 135px;
        object-fit: contain;
    }

    .main-circle::before {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .main-technology {
        height: 120vh;
        width: 100%;
        display: block;
    }

    .landingPage {
        margin: 10% 0 10% 0;
        height: 100%;
        width: 100%;
    }

    .landingPageImg {
        height: 500px;
        width: 500px;
        left: 0%;
        top: 0%;
        margin: auto;
        object-fit: cover;

    }

    .light {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        width: 100%;
        object-fit: cover;
    }

    .lightImg {
        height: 800px;
        object-fit: cover;
    }

    .left {
        width: 100%;
    }

    .circle {
        height: 140px;
        width: 140px;
        top: 0%;
    }

    .small-circle {
        height: 120px;
        width: 120px;
    }

    .sub-small-circel {
        position: absolute;
        top: 35%;
        left: 50%;
        height: 80px;
        width: 80px;
        border: none;
    }

    .sub-small-circel h1 {
        font-size: 22px;
        margin: 20px 0 0;
    }

    .sub-small-circel p {
        font-size: 12px;
    }

    .main-circle {
        z-index: 99;
        position: relative;
        left: 50%;
        bottom: 0%;
        padding: 30px 0 0 0;
        transform: translate(-50%, -50%);
    }

    .text-container {
        max-width: 100%;
        top: 70%;
        left: 50%;
        z-index: 99;
    }

    .right-side-content {
        z-index: 99;
        width: 100%;
        max-width: 100%;
        left: 50%;
        top: 50%;
        text-align: center;
    }

    .right-side-content p,
    .right-side-content h1 {
        font-size: 28px;
    }

    .right-side-content h2 {
        font-size: 20px;
    }

    .right-side-content h4 {
        font-size: 20px;
    }

    .sub-circle {
        width: 40%;
        display: flex;
        justify-content: space-evenly;
        margin: auto;
    }

    .line::before {
        display: none;
    }

    .outer {
        height: 80px;
        width: 80px;
        margin: 0 0px 0 0px;
        top: 0%;
        right: 0%;
    }

    .inner {
        height: 100%;
        width: 100%;
    }

    .inner img {
        display: none;
    }

    .innerContent p {
        font-size: 14px;
        margin: 0%;
    }

    .stars {
        /* background-color: #fff; */
        width: 100px;
        height: 150px;
        object-fit: contain;
    }

    .main-circle::before {
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .main-technology {
        height: 130vh;
        width: 100%;
        display: block;
    }

    .landingPage {
        margin: 10% 0;
        height: 100%;
        width: 100%;
    }

    .landingPageImg {
        height: 550px;
        width: 550px;
        left: 0%;
        top: 0%;
        margin: auto;
        object-fit: cover;

    }

    .light {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        width: 100%;
        object-fit: cover;
    }

    .lightImg {
        height: 850px;
        object-fit: cover;
    }

    .left {
        width: 100%;
    }

    .circle {
        height: 150px;
        width: 150px;
        top: 0%;
    }

    .small-circle {
        height: 130px;
        width: 130px;
    }

    .sub-small-circel {
        position: absolute;
        top: 35%;
        left: 50%;
        height: 80px;
        width: 80px;
        border: none;
    }

    .sub-small-circel h1 {
        font-size: 22px;
        margin: 20px 0 0;
    }

    .sub-small-circel p {
        font-size: 12px;
    }

    .main-circle {
        z-index: 99;
        position: relative;
        left: 50%;
        top: 150%;
        transform: translate(-50%, -50%);
    }

    .text-container {
        max-width: 100%;
        top: 70%;
        left: 50%;
        z-index: 99;
    }

    .right-side-content {
        z-index: 99;
        width: 100%;
        max-width: 100%;
        left: 50%;
        top: 50%;
        text-align: center;
    }

    .right-side-content p,
    .right-side-content h1 {
        font-size: 28px;
    }

    .right-side-content h2 {
        font-size: 20px;
    }

    .right-side-content h4 {
        font-size: 20px;
    }

    .sub-circle {
        width: 30%;
        display: flex;
        justify-content: space-evenly;
        margin: auto;
    }

    .line::before {
        display: none;
    }

    .outer {
        height: 80px;
        width: 80px;
        margin: 0 0px 0 0px;
        top: 0%;
        right: 0%;
    }

    .inner {
        height: 100%;
        width: 100%;
    }

    .inner img {
        display: none;
    }

    .innerContent p {
        font-size: 14px;
        margin: 0%;
    }

    .stars {
        width: 125px;
        height: 200px;
        object-fit: contain;
    }

    .main-circle::before {
        display: none;
    }
}



@media (min-width: 1200px) and (max-width: 1500px) {
    .main-technology {
        height: 135vh;
        width: 100%;
        display: block;
    }

    .landingPage {
        margin: 10% 0;
        height: 100%;
        width: 100%;
    }

    .landingPageImg {
        height: 550px;
        width: 550px;
        left: 0%;
        top: 0%;
        margin: auto;
        object-fit: cover;

    }

    .light {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        width: 100%;
        object-fit: cover;
    }

    .lightImg {
        height: 850px;
        object-fit: cover;
    }

    .left {
        width: 100%;
    }

    .circle {
        height: 150px;
        width: 150px;
        top: 0%;
    }

    .small-circle {
        height: 130px;
        width: 130px;
    }

    .sub-small-circel {
        position: absolute;
        top: 35%;
        left: 50%;
        height: 80px;
        width: 80px;
        border: none;
    }

    .sub-small-circel h1 {
        font-size: 22px;
        margin: 20px 0 0;
    }

    .sub-small-circel p {
        font-size: 12px;
    }

    .main-circle {
        z-index: 99;
        position: relative;
        left: 50%;
        top: 150%;
        transform: translate(-50%, -50%);
    }

    .text-container {
        max-width: 100%;
        top: 70%;
        left: 50%;
        z-index: 99;
    }

    .right-side-content {
        z-index: 99;
        width: 100%;
        max-width: 100%;
        left: 50%;
        top: 50%;
        text-align: center;
    }

    .right-side-content p,
    .right-side-content h1 {
        font-size: 28px;
    }

    .right-side-content h2 {
        font-size: 20px;
    }

    .right-side-content h4 {
        font-size: 20px;
    }

    .sub-circle {
        width: 30%;
        display: flex;
        justify-content: space-evenly;
        margin: auto;
    }

    .line::before {
        display: none;
    }

    .outer {
        height: 80px;
        width: 80px;
        margin: 0 0px 0 0px;
        top: 0%;
        right: 0%;
    }

    .inner {
        height: 100%;
        width: 100%;
    }

    .inner img {
        display: none;
    }

    .innerContent p {
        font-size: 14px;
        margin: 0%;
    }

    .stars {
        width: 160px;
        height: 250px;
        object-fit: contain;
    }

    .main-circle::before {
        display: none;
    }
}