* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    /* display: flex; */
    justify-content: space-between;
    width: 100%;
    margin: auto;

}

.main-technology {
    max-width: 1500px;
    /* margin: auto; */
    /* background-color: #00223F; */
    height: 100vh;
    display: block;
    position: relative;
}

.left-main {
    position: absolute;
    height: 100%;
    width: 60%;
    /* bottom: 5%; */
    top: -35%;
    left: -6%;
    z-index: 99;
}

.landingPage {
    height: 130vh;
    width: 130vh;
    z-index: 99;
    object-fit: cover;
    display: block;
    position: relative;
}

.light {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* height: 650px; */
    z-index: -1;
    border-radius: 50%;
    /* background-color: #435E76; */
}

.light img {
    height: 800px;
    object-fit: cover;
}

.circle {
    position: absolute;
    border: 1px solid #4a7497;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    top: 40%;
    left: 1%;
    z-index: 99;
}

.small-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 180px;
    width: 180px;
    border-radius: 50%;
    background-color: #435E76;
}

.sub-small-circel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 1px solid #00223F;
}

.sub-small-circel h1 {
    font-size: 36px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin: 20px 0 0;
}

.sub-small-circel p {
    font-size: 12px;
    text-align: center;
    color: #00223F;
    font-weight: 600;
}

.available {
    font-weight: 400;
}

.right {
    margin: 0 0px 0 0;
    z-index: 99;
    position: relative;
    bottom: 0%;
    height: 80vh;
    width: 100%;
    left: 10%;
    /* background-color: #fff; */
}

.right-side-content {
    /* background-color: #fff; */
    width: 43%;
    margin: 0px 0 0 0;
    position: absolute;
    left: 70%;
    top: 40%;
    transform: translate(-50%, -50%);
}

.right h3,
.right h1 {
    font-family: 'Ubuntu';
    font-size: 47px;
    line-height: 1;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.52);
    color: #fff;
}

.right h2 {
    font-weight: 300;
    color: #fff;
    font-size: 30px;
    margin: 20px 0 0 0;
}

.right h4 {
    color: #80acd3;
    font-size: 28px;
    letter-spacing: 0.025em;
    font-weight: 600;
}

.line::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 1px;
    top: 50%;
    transform: translateX(-125%);
    background-color: #4a7497;
}

.main-circle {
    position: absolute;
    left: 60%;
    top: 85%;
    transform: translate(-50%, -50%);
}


.sub-circle {
    display: flex;
    margin: 0;
}

.outer {
    height: 167px;
    width: 167px;
    border: 1px solid #4a7497;
    border-radius: 50%;
    margin: 0 25px 0 15px;
    position: relative;
}

.inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 145px;
    width: 145px;
    border-radius: 50%;
    background: transparent;
    transition: all 0.8s;
}

.inner:hover {
    background-color: #435E76;
    cursor: pointer;
}

.innerContent {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 22px auto;
}

.clockimag {
    width: 50px;
    margin: auto;
}

.innerContent p {
    color: #fff;
    font-family: 'Ubuntu';
    font-weight: 500;
    font-size: 20px;
    line-height: 1.1;
    margin: 12px 0 0;
    transition: all 0.3s ease-in-out;
}

/* Media Queries */
@media (max-width: 576px) {
    .main-technology {
        max-width: 1500px;
        margin: auto;
        height: 135vh;
    }

    .landingPage {
        height: 40vh;
        width: 40vh;
        transform: translate(-50%, -50%);
        top: 30%;
        left: 50%;
    }

    .light img {
        height: 400px;
        object-fit: cover;
    }

    .left-main {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .right {
        position: relative;
        top: 0%;
        left: 0%;
        text-align: center;
    }

    .right-side-content {
        margin: 0px 0 0 0;
        position: relative;
        left: 50%;
        top: 100%;
        width: 100%;
    }

    .main-circle {
        position: relative;
        left: 50%;
        top: 90%;
        transform: translate(-50%, -50%);

    }

    .left {
        width: 100%;
    }

    .circle {
        height: 120px;
        width: 120px;
        top: 10%;
    }

    .small-circle {
        height: 100px;
        width: 100px;
    }

    .sub-small-circel {
        position: absolute;
        top: 35%;
        left: 50%;
        height: 80px;
        width: 80px;
        border: none;
    }

    .sub-small-circel h1 {
        font-size: 22px;
        margin: 20px 0 0;
    }

    .sub-small-circel p {
        font-size: 12px;
    }

    .right h3,
    .right h1 {
        font-size: 28px;
    }

    .right h2 {
        font-size: 20px;
    }

    .right h4 {
        font-size: 20px;
    }

    .sub-circle {
        /* background-color: #fff; */
        width: 80%;
        display: flex;
        justify-content: space-evenly;
        margin: auto;
    }

    .line::before {
        display: none;
    }


    /* .mainLine {
        display: none;
    } */

    .main-circle {
        position: relative;
        /* width: 100%;
        top: 200%;
        left: 50%;
        transform: translate(-50%, -50%); */
    }

    .sub-circle {
        display: flex;
        justify-content: space-evenly;
    }

    .outer {
        height: 80px;
        width: 80px;
        margin: 0 0px 0 0px;
        top: 0%;
        right: 0%;
    }

    .inner {
        height: 100%;
        width: 100%;
    }

    .inner img {
        display: none;
    }

    .innerContent p {
        font-size: 14px;
        margin: 0%;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .main-technology {
        max-width: 1500px;
        margin: auto;
        height: 150vh;
    }

    .landingPage {
        height: 60vh;
        width: 60vh;
        transform: translate(-50%, -50%);
        top: 30%;
        left: 50%;
        z-index: -99;
    }

    .light img {
        position: relative;
        height: 600px;
        z-index: 99;
        object-fit: cover;
    }

    .left-main {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .right {
        position: relative;
        top: 0%;
        left: 0%;
        text-align: center;
    }

    .right-side-content {
        margin: 0px 0 0 0;
        position: relative;
        left: 50%;
        top: 110%;
        width: 100%;
    }

    .main-circle {
        position: relative;
        left: 50%;
        top: 120%;
        transform: translate(-50%, -50%);

    }

    .left {
        width: 100%;
    }

    .circle {
        height: 120px;
        width: 120px;
        top: 10%;
    }

    .small-circle {
        height: 100px;
        width: 100px;
    }

    .sub-small-circel {
        position: absolute;
        top: 35%;
        left: 50%;
        height: 80px;
        width: 80px;
        border: none;
    }

    .sub-small-circel h1 {
        font-size: 22px;
        margin: 20px 0 0;
    }

    .sub-small-circel p {
        font-size: 12px;
    }

    .right h3,
    .right h1 {
        font-size: 28px;
    }

    .right h2 {
        font-size: 20px;
    }

    .right h4 {
        font-size: 20px;
    }

    .line::before {
        display: none;
    }


    .mainLine {
        display: none;
    }

    .main-circle {
        position: relative;
        /* width: 100%;
        top: 200%;
        left: 50%;
        transform: translate(-50%, -50%); */
    }

    .sub-circle {
        width: 50%;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
    }

    .outer {
        height: 80px;
        width: 80px;
        margin: 0 0px 0 0px;
        top: 0%;
        right: 0%;
    }

    .inner {
        height: 100%;
        width: 100%;
    }

    .inner img {
        display: none;
    }

    .innerContent p {
        font-size: 14px;
        margin: 0%;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .main-technology {
        max-width: 1500px;
        margin: auto;
        height: 170vh;
    }

    .landingPage {
        height: 100vh;
        width: 100vh;
        transform: translate(-50%, -50%);
        top: 30%;
        left: 50%;
        z-index: -99;
    }

    .light img {
        position: relative;
        height: 600px;
        z-index: 99;
        object-fit: cover;
    }

    .left-main {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .right {
        position: relative;
        top: 0%;
        left: 0%;
        text-align: center;
    }

    .right-side-content {
        margin: 0px 0 0 0;
        position: relative;
        left: 50%;
        top: 130%;
        width: 100%;
    }

    .main-circle {
        position: relative;
        left: 50%;
        top: 140%;
        transform: translate(-50%, -50%);

    }

    .left {
        width: 100%;
    }

    .circle {
        height: 120px;
        width: 120px;
        top: 10%;
    }

    .small-circle {
        height: 100px;
        width: 100px;
    }

    .sub-small-circel {
        position: absolute;
        top: 35%;
        left: 50%;
        height: 80px;
        width: 80px;
        border: none;
    }

    .sub-small-circel h1 {
        font-size: 22px;
        margin: 20px 0 0;
    }

    .sub-small-circel p {
        font-size: 12px;
    }

    .right h3,
    .right h1 {
        font-size: 28px;
    }

    .right h2 {
        font-size: 20px;
    }

    .right h4 {
        font-size: 20px;
    }

    .line::before {
        display: block;

    }


    .mainLine {
        display: none;
    }

    .main-circle {
        position: relative;
        /* width: 100%;
        top: 200%;
        left: 50%;
        transform: translate(-50%, -50%); */
    }

    .sub-circle {
        width: 50%;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
    }

    .outer {
        height: 80px;
        width: 80px;
        margin: 0 0px 0 0px;
        top: 0%;
        right: 0%;
    }

    .inner {
        height: 100%;
        width: 100%;
    }

    .inner img {
        display: none;
    }

    .innerContent p {
        font-size: 14px;
        margin: 0%;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .main-technology {
        max-width: 1500px;
        margin: auto;
        height: 170vh;
    }

    .landingPage {
        height: 100vh;
        width: 100vh;
        transform: translate(-50%, -50%);
        top: 30%;
        left: 50%;
        z-index: -99;
    }

    .light img {
        position: relative;
        height: 600px;
        z-index: 99;
        object-fit: cover;
    }

    .left-main {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .right {
        position: relative;
        top: 0%;
        left: 0%;
        text-align: center;
    }

    .right-side-content {
        margin: 0px 0 0 0;
        position: relative;
        left: 50%;
        top: 130%;
        width: 100%;
    }

    .main-circle {
        position: relative;
        left: 50%;
        top: 140%;
        transform: translate(-50%, -50%);

    }

    .left {
        width: 100%;
    }

    .circle {
        height: 120px;
        width: 120px;
        top: 10%;
    }

    .small-circle {
        height: 100px;
        width: 100px;
    }

    .sub-small-circel {
        position: absolute;
        top: 35%;
        left: 50%;
        height: 80px;
        width: 80px;
        border: none;
    }

    .sub-small-circel h1 {
        font-size: 22px;
        margin: 20px 0 0;
    }

    .sub-small-circel p {
        font-size: 12px;
    }

    .right h3,
    .right h1 {
        font-size: 28px;
    }

    .right h2 {
        font-size: 20px;
    }

    .right h4 {
        font-size: 20px;
    }

    .line::before {
        display: block;

    }


    .mainLine {
        display: none;
    }

    .main-circle {
        position: relative;
        /* width: 100%;
        top: 200%;
        left: 50%;
        transform: translate(-50%, -50%); */
    }

    .sub-circle {
        width: 50%;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
    }

    .outer {
        height: 80px;
        width: 80px;
        margin: 0 0px 0 0px;
        top: 0%;
        right: 0%;
    }

    .inner {
        height: 100%;
        width: 100%;
    }

    .inner img {
        display: none;
    }

    .innerContent p {
        font-size: 14px;
        margin: 0%;
    }
}