/* Youtube Video */
.testimonials-container {
    background-color: #ffeb99;
    padding: 20px;
    text-align: center;
}

.testimonials-title {
    font-size: 30px;
    margin-bottom: 20px;
    color: #333333;

}

.testimonials-videos {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 0px 50px;
}

.testimonials-videos iframe {
    max-width: 100%;
    flex: 1;
    min-width: 300px;
    height: 315px;
}



/* !!!!!!!!!!!!!!!! */
/* src/Footer.css */
.footer-container {
    background-color: #15153B;
    color: #ffffff;
    padding: 40px 60px;
    text-align: center;
}

.footer-content {
    text-align: start;
    max-width: 900px;
    /* margin: 0 auto; */
    padding-bottom: 30px;
}

.footer-content h2 {
    font-size: 2em;
    margin-bottom: 20px;
    font-weight: bold;
}

.footer-content p {
    margin-bottom: 20px;
    line-height: 1.6;
}

.footer-content a {
    color: #38BDF8;
    text-decoration: none;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.footer-section {
    margin: 10px;
    flex: 1;
    min-width: 200px;
}

.footer-section h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #ffffff;
    text-decoration: none;
}

.footer-section .app-links img {
    max-width: 140px;
    margin: 0px 10px 0px 30px;

}

.footer-section .app-links {
    display: flex;
    align-items: center;
}



/* 300px - 576px */
@media (max-width: 576px) {
    .testimonials-container {
        padding: 15px;
    }

    .testimonials-title {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .testimonials-videos {
        padding: 0 20px;
    }

    .footer-container {
        padding: 20px 30px;
    }

    .footer-content h2 {
        font-size: 1.5em;
    }

    .footer-section {
        margin: 5px 0;
        min-width: 100%;
    }

    .footer-section .app-links img {
        max-width: 100px;
        margin: 10px;
    }
}

/* 576px - 768px */
@media (min-width: 576px) and (max-width: 768px) {
    .testimonials-container {
        padding: 20px;
    }

    .testimonials-title {
        font-size: 26px;
        margin-bottom: 18px;
    }

    .testimonials-videos {
        padding: 0 30px;
    }

    .footer-container {
        padding: 30px 40px;
    }

    .footer-content h2 {
        font-size: 1.75em;
    }

    .footer-section {
        margin: 10px;
        min-width: 45%;
    }

    .footer-section .app-links img {
        max-width: 120px;
        margin: 10px;
    }
}

/* 768px - 992px */
@media (min-width: 768px) and (max-width: 992px) {
    .testimonials-container {
        padding: 25px;
    }

    .testimonials-title {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .testimonials-videos {
        padding: 0 40px;
    }

    .footer-container {
        padding: 35px 50px;
    }

    .footer-content h2 {
        font-size: 1.9em;
    }

    .footer-section {
        margin: 10px;
        min-width: 40%;
    }

    .footer-section .app-links img {
        max-width: 130px;
        margin: 10px;
    }
}