.sign-in-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    background-color: #f0f0f0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.sign-in-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.image-container img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.form-container {
    padding: 20px;
    text-align: center;
}

.form-container h2 {
    margin-bottom: 20px;
}

.form-container input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 10px;
}

.checkbox-container label {
    margin-right: 5px;
}

.whatsapp-icon {
    font-size: 20px;
    color: #25d366;
}

.sign-in-btn {
    width: 100%;
    padding: 10px;
    background-color: #d3d3d3;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.form-container p {
    margin-top: 20px;
}

.form-container a {
    color: #007bff;
    text-decoration: none;
}

.form-container a:hover {
    text-decoration: underline;
}